BACKEND_NODE_ENV="development"
PORT="3001"
URL="http://localhost:3001"
CORS_ORIGINS="http://localhost:3000"

DATABASE_URL="postgresql://user:password@localhost:5432/finance-app"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_DATABASE_NAME="finance-app"
DATABASE_USER="user"
DATABASE_PASSWORD="password"

# Generate with: openssl rand -hex 32
JWT_SECRET="CHANGE_ME_generate_with_openssl_rand_hex_32"
JWT_EXPIRES_IN="15m"
# Generate with: openssl rand -hex 32
JWT_REFRESH_SECRET="CHANGE_ME_generate_with_openssl_rand_hex_32"
JWT_REFRESH_EXPIRES_IN="12h"
DEFAULT_PASSWORD=""