BACKEND_NODE_ENV="development"
PORT="3001"
URL="http://localhost:3001"
CORS_ORIGINS="http://localhost:3000"

DATABASE_URL="postgresql://user:password@localhost:5432/finance-app"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DATABASE_NAME="finance-app"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"

JWT_SECRET="JulianAlvarez-LionelAndresMessi-DiegoArmandoMaradona"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-super-secret-refresh-jwt-key-change-in-prod"
JWT_REFRESH_EXPIRES_IN="12h"

